<header class="d-flex flex-row align-items-center justify-content-between p-3 px-4 mb-3 
    bg-white border-bottom fixed-top shadow-sm">
    <h5>AKA</h5>

    <div class="d-flex align-items-center">
        <a [routerLink]="['/cart']" class="position-relative">
            <i class="fa fa-shopping-basket fa-2x me-5 text-dark"></i>
            <div *ngIf="(cartService.cartSource$ | async) as cart" class="cart-no">
                {{getCount(cart.items)}}
            </div>
        </a>

    </div>
</header>